/* =================================
  Element Styles
==================================== */


p, li{
    color: #8A7FEC;
}

header {
  background: url('https://piskel-imgstore-b.appspot.com/img/8ad9ef91-4c56-11ea-a145-b1b815fe5453.gif');
  height: 200px;  
  text-align: center;
}
.single-before {
  list-style: none;
  padding: 0;
  margin: 0;
}

li::before {
	content: "🐼 ";
}

body {
  text-align: center;
}