/* =================================
  Element Styles
==================================== */

p{
    color: #8A7FEC;
}

li{
    list-style: none;
    color: #8A7FEC;
    text-align:center;     
    border: 1px solid #8A7FEC;
    border-top:60px solid #f5f4ff; 
    background: #f8f7ff;    
    margin: 10px; 
    line-height: 1;       
    width: 275px;
    min-height:200px;
    max-height:200px;
    padding-top:35px;
    border-bottom-right-radius: 60px 5px;
    display:inline-block;   
}  
.single-before {
  list-style: none;

}
li::before {
	content: "🐼 ";
}

header {
  background: url('https://piskel-imgstore-b.appspot.com/img/8ad9ef91-4c56-11ea-a145-b1b815fe5453.gif');
  height: 200px;  
  text-align: center;
}



body {
  text-align: center;
}